<!DOCTYPE html>
<html lang="pt" >
  <head>
    <div ng-include="'viewsPartials/head.html'"></div>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slide.css">
    <title>Toxic Burguer</title>
  </head>
  <body onload="showSlide()" ng-app="">
      <script>
        if('serviceWorker' in navigator){
          navigator.serviceWorker
              .register('sw.js')
              .then(()=>{console.log("ServiceWorker work")});
        }
      </script>
      <!-- Header beginning-->
      <div ng-include="'viewsPartials/menu.html'"></div>

      <!-- Header end-->	

      <!-- Slide beginning -->
      <div id="topo" class="conteinerSlide" ng-app="appSlide">
        <div ng-include="'viewsPartials/slide.html'"></div>
      </div>
      <!-- Slide end-->

      
      <script src="/javascript/angular/angular.min.js"></script> 
      <script src="/javascript/slide.js" type="text/javascript"></script>
      <script src="/javascript/fullScreen.js" type="text/javascript"></script>
      <script src="/javascript/linksuave.js" type="text/javascript"></script> 
  </body>
</html>
